 {
     margin: o;
     pading: 0;
 }

 body {
     background-color: rgb(183, 43, 196);
     margin: 100 100;
     padding: 50px;
     width: 450px;
     height: 1015px;
     border-style: groove;
     position: center;
     margin-bottom: 15px;
 }

 .checked {
     color: yellow;
 }

 h1 {
     background-color: rgb(48, 153, 101);
     height: 50px;
     width: auto;
     text-decoration-color: lightseagreen;
     text-align: center;
     margin: 0 auto 20px;
     border-bottom-left-radius: 20%;
     border-bottom-right-radius: 20%;
 }

 h2 {
     text-align: center;
 }

 #featMi {
     color: maroon;
     border-inline-color: red;
     text-emphasis: size 44px;
 }

 .rat1 {
     margin-left: 200px;
 }

 .ratin-n {
     margin-top: 20px;
     margin-bottom: 20px;
 }

 /* The switch - the box around the slider */
 .switch {
     position: relative;
     display: inline-block;
     width: 60px;
     height: 34px;
 }

 /* Hide default HTML checkbox */
 .switch input {
     opacity: 0;
     width: 0;
     height: 0;
 }

 /* The slider */
 .slider {
     position: absolute;
     cursor: pointer;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     background-color: #ccc;
     -webkit-transition: 0.4s;
     transition: 0.4s;
 }

 .slider:before {
     position: absolute;
     content: '';
     height: 26px;
     width: 26px;
     left: 4px;
     bottom: 4px;
     background-color: white;
     -webkit-transition: 0.4s;
     transition: 0.4s;
 }

 input:checked+.slider {
     background-color: #2196f3;
 }

 input:focus+.slider {
     box-shadow: 0 0 1px #2196f3;
 }

 input:checked+.slider:before {
     -webkit-transform: translateX(26px);
     -ms-transform: translateX(26px);
     transform: translateX(26px);
 }

 /* Rounded sliders */
 .slider.round {
     border-radius: 34px;
 }

 .slider.round:before {
     border-radius: 50%;
 }

 table tr>*:nth-child(2) {
     background-color: lightcoral;
 }

 table tr:nth-child(odd) {
     background-color: lightseagreen;
 }

 table tr:nth-child(even) {
     background-color: lime;
 }

 .rating111 {
     display: inline-block;
     position: relative;
     height: 50px;
     line-height: 50px;
     font-size: 50px;
 }

 .rating111 label {
     position: absolute;
     top: 0;
     left: 0;
     height: 100%;
     cursor: pointer;
 }

 .rating111 label:last-child {
     position: static;
 }

 .rating111 label:nth-child(1) {
     z-index: 5;
 }

 .rating111 label:nth-child(2) {
     z-index: 4;
 }

 .rating111 label:nth-child(3) {
     z-index: 3;
 }

 .rating111 label:nth-child(4) {
     z-index: 2;
 }

 .rating111 label:nth-child(5) {
     z-index: 1;
 }

 .rating111 label input {
     position: absolute;
     top: 0;
     left: 0;
     opacity: 0;
 }

 .rating111 label .icon {
     float: left;
     color: transparent;
 }

 .rating111 label:last-child .icon {
     color: #000;
 }

 .rating111:not(:hover) label input:checked~.icon,
 .rating111:hover label:hover input~.icon {
     color: yellow;
 }

 .rating111 label input:focus:not(:checked)~.icon:last-child {
     color: #000;
     text-shadow: 0 0 5px rgb(255, 208, 0);
 }

 /*tablet*/
 #toilets-table {
     font-family: arial, sans-serif;
     border-collapse: collapse;
     width: 100%;
     ext-align: center;
     border-inline: 200px color black;
     margin: 100px auto;
     text-align: center;

 }

 td,
 th {
     border: 1px solid #dddddd;
     text-align: left;
     padding: 18px;
 }